@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}
.tab-content {
  max-height: 0;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  }
 
  /* :checked - resize to full height */
  .tab input:checked ~ .tab-content {
  max-height: 100vh;
  }
  /* Label formatting when open */
  .tab input:checked + label{
  /*@apply text-xl p-5 border-l-2 border-purple-500 bg-gray-100 text-indigo*/
  font-size: 1.25rem; /*.text-xl*/
  padding: 1.25rem; /*.p-5*/
  border-left-width: 2px; /*.border-l-2*/
  border-color: rgba(139, 92, 246); /*.border-indigo*/
  background-color: #f8fafc; /*.bg-gray-100 */
  color: rgba(139, 92, 246); /*.text-indigo*/
  }
  /* Icon */
  .tab label::after {
  float:right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35;
  }
  /* Icon formatting - closed */
  .tab input[type=checkbox] + label::after {
  content: "+";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  .tab input[type=radio] + label::after {
  content: "\25BE";
  font-weight:bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
  }
  /* Icon formatting - open */
  .tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  background-color: rgba(139, 92, 246); /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }
  .tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  background-color: rgba(139, 92, 246); /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
  }

body {
  background-color: #f0f4fb;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
}
.custom-container{
  max-width: 1450px;
  margin: auto;
  padding: 0 20px;
}
.service-card{
  background-color: #fff;
  display: flex;
  padding: 30px 14px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
  text-align: center; 
}
.iframe-profile {
    width: 500px;
    height: 500px;
    margin: auto;
    pointer-events: none;
}
.iframe-about{
  margin: auto;
  height: 300px;
  pointer-events: none;
}
.recent-work-img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-wrapper{
  position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 300px;
    padding: 30px 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.overlay:hover{
  opacity: 1;
}
.current:hover ~ .overlay{
  opacity: 1;
}


.testimonial-card{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}
.testimonial-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.small-avatar{
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-image: url(https://uploads-ssl.webflow.com/612c9818426e80489554701c/613e361b6c60bfe81739fb5a_avatar.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.avatar-details {
  margin-left: 20px;
}
.quote {
  color: #5f6a8f;
  font-style: italic;
}
.about-me{
  max-width: 890px;
}
.accordian-bx{
  width: 100%;
  max-width: 890px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}


.contact-form-container{
  background-color: #252b3a;
}


.project-wrapper:hover .current{
  z-index: 2;
}

.section-margin-bottom{
  margin-bottom: 100px
}
.big-dots {
  position: absolute !important;
  bottom: 0px !important;
  left: 80px;
  z-index: -1;
}
.small-dots{
  position: absolute;
  top: 200px;
  right: 125px;
  z-index: -2;
}
.large-bubble{
  position: absolute;
  bottom: -125px;
  left: -50px;
  z-index: -1;
}
.medium-bubble{
  position: absolute;
  bottom: -20px;
  right: 0px;
  z-index: -1;
}
.small-bubble{
  position: absolute;
  top: -125px;
  right: 200px;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .current{
    z-index: 2;
  }
  .overlay{
    opacity: 1;
  }

}


@media screen and (max-width: 500px) {
  .iframe-profile {
    width: 300px !important;
    height: 300px;

}
}